.sidebar
  .sidebar__container
    .reductionTime
      年間削減時間

    .menu
      .application
        =link_to "#", class: "application__link" do
          申請手続き
      .licenses
        =link_to "#", class: "licenses__link" do
          許可手続き
      .payments
        =link_to "#", class: "payments__link" do
          請求手続き
      .status
        =link_to "#", class: "status__link" do
          進捗管理
      .budgets
        =link_to "#", class: "budgets__link" do
          予算管理
      .search
        =link_to "#", class: "search__link" do
          検索
        
