.sidebar
  .sidebar__container
    .reductionTime
      年間削減時間

    .menu
      .application
        =link_to applications_path, class: "application__link" do
          申請手続き
      .licenses
        =link_to licenses_path, class: "licenses__link" do
          許可手続き
      .payments
        =link_to payments_path, class: "payments__link" do
          請求手続き
      .status
        =link_to "#", class: "status__link" do
          進捗管理
      .budgets
        =link_to budgets_path, class: "budgets__link" do
          予算管理
      .search
        =link_to facilitys_path, class: "search__link" do
          検索
        
